body { background: #ae23cc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 16px; display: flex; }
.block-search-0 { color: #f9ba6d; font-size: 21px; margin-bottom: 5px; }
.block-email-1 { color: #187bac; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #79e13c; font-size: 12px; margin-bottom: 5px; }
.block-helper-3 { color: #9c4d15; font-size: 15px; margin-bottom: 5px; }
.block-shipping-4 { color: #4f9ba4; font-size: 19px; margin-bottom: 5px; }
.block-sms-5 { color: #7af84d; font-size: 12px; margin-bottom: 5px; }
.block-product-6 { color: #f35190; font-size: 18px; margin-bottom: 5px; }